button {
  width: 97px;
  z-index: 50px;
  padding: 0.3%;
/* border */
  border: none;
  border-radius: 5px;
/* color */
  box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  background-color: #cd8816;
  color: #fff;
/* font */
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
/* effects */
}
button:focus {
  outline: none;
}
button:hover {
  background-color: #eba83a;
}
button:active {
  background-color: #eba83a;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
  transform: translateY(1px);
}
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
.col-grow-2 {
  flex: 2;
}
.col-grow-3 {
  flex: 3;
}
.col-grow-4 {
  flex: 4;
}
.col-grow-5 {
  flex: 5;
}
.col-grow-6 {
  flex: 6;
}
.flex-grid-thirds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
