@import 'palette.styl'

button
  width 97px
  z-index 50px
  padding .3%
  /* border */
  border none
  border-radius 5px
  /* color */
  box-shadow 0 10px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  background-color $color-secondary-1-3
  color white
  /* font */
  font-size 1.4em
  font-family $sans-font
  font-weight lighter
  /* effects */
  &:focus
    outline none
  &:hover
    background-color $color-secondary-1-0
  &:active
    background-color $color-secondary-1-0
    box-shadow 0 5px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
    transform translateY(1px)