.SearchBar {
  width: 960px;
  margin: auto;
}
.btn-state-initial {
/* spacing */
  width: 97px;
  margin-top: 10px;
}
.SearchWrapper {
  flex-direction: row;
  color: #fff;
  justify-content: center;
  margin: auto;
  margin-top: 30vh;
}
.SearchWrapper input {
  width: 960px;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #6cc5b1;
  font-size: 24pt;
  color: #fff;
}
.SearchWrapper input:focus {
  outline: none;
}
.SearchWrapper input::-webkit-input-placeholder {
  color: #0e846a;
}
.SearchWrapper input:-moz-placeholder {
  color: #0e846a;
}
.SearchWrapper input::-moz-placeholder {
  color: #0e846a;
}
.SearchWrapper input:-ms-input-placeholder {
  color: #0e846a;
}
